[project]
	description = Solr client for .Net
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/VenkatsQuest
[access "refs/for/refs/*"]
	read = group user/VenkatsQuest
	push = group user/VenkatsQuest
	label-Code-Review = -2..+2 group user/VenkatsQuest
	label-Verified = -1..+1 group user/VenkatsQuest
	rebase = group user/VenkatsQuest
	removeReviewer = group user/VenkatsQuest
	submit = group user/VenkatsQuest
[access "refs/heads/*"]
	read = group user/VenkatsQuest
	create = group user/VenkatsQuest
	push = +force group user/VenkatsQuest
	pushMerge = group user/VenkatsQuest
[access "refs/tags/*"]
	push = +force group user/VenkatsQuest
	pushTag = group user/VenkatsQuest
	pushSignedTag = group user/VenkatsQuest
